<img src="assets/portada.jpeg" class="..." width="1000px" height="350px" alt="Logotipo">
<div class="container"> 
    <h1>hola</h1>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="d-flex justify-content-center flex-wrap">
            <div class="card mx-3" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
                <a href="#" class="btn btn-primary">Enlace de tarjeta</a>
              </div>
            </div>
          
            <div class="card mx-3" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
                <a href="#" class="btn btn-primary">Enlace de tarjeta</a>
              </div>
            </div>
          
            <div class="card mx-3" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
                <a href="#" class="btn btn-primary">Enlace de tarjeta</a>
              </div>
            </div>
          </div>
          
</div>
