<div class="image-container">
  <img src="assets/LOGO servicio tecnico.jpeg" alt="Logotipo">
</div>
<section class="specialties">
  <h2>Especialidades del Servicio Técnico</h2>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/instalacion sistemas operativos.jpg" class="card-img-top" alt="Instalación de Sistemas Operativos">
        <div class="card-body">
          <h5 class="card-title">Instalación de Sistemas Operativos</h5>
          <p class="card-text">Realizamos la instalación de sistemas operativos de forma rápida y segura.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/instalacion_y_resolucion_de_problemas_de_software_mac_2.webp" class="card-img-top" alt="Instalación de Software de Oficina">
        <div class="card-body">
          <h5 class="card-title">Instalación de Software de Oficina</h5>
          <p class="card-text">Instalamos y configuramos las herramientas de oficina más populares como Microsoft Office.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/tecnico-reparacion-laptops-2.jpg" class="card-img-top" alt="Reparación de Computadoras">
        <div class="card-body">
          <h5 class="card-title">Reparación de Computadoras</h5>
          <p class="card-text">Reparación de hardware y software de computadoras para que tu equipo funcione como nuevo.</p>
        </div>
      </div>
    </div>
  </div>
</section>


